@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Ogg;
  src: url('../public/fonts/ogg-roman-webfont.woff') format('woff');
}

@font-face {
  font-family: Feminine;
  src: url('../public/fonts/Feminine.ttf') format('ttf');
}

@layer base {
  html {
    @apply scroll-smooth
  }

  h1 {
    @apply font-ogg text-[60px] 
  }

  h2 {
    @apply font-ogg text-[32px] tracking-widest
  }

  h3 {
    @apply font-ogg text-[24px] tracking-widest
  }

  h4 {
    @apply font-ogg text-[24px] text-[rgba(0,0,0,0.5)] tracking-widest
  }

  h5 {
    @apply font-feminine text-[64px]
  }
}

@layer components {
  .asuLogo {
    @apply w-[175px] absolute top-24
  }

  .personalImage {
    @apply w-[80%] mx-auto mt-6
  }
}

.carousel-wrapper, .carousel, .carousel > .slider-wrapper, .carousel > .slider-wrapper > .slider {
  height: 100%;
}